{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWAITING patient</title>







</head>
<body style="background: url('{% static 'Patient/Images/D_IMG.png' %}'); background-size: cover; background-position: center; background-attachment: fixed;  ">
    <button type="button" class="btn btn-light"><a href="{% url 'Doctor' %}"> Home</a></button>

    <h1> next patient is </h1>
</body>
</html>
