{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HOME</title>
<link rel="stylesheet" href="{% static 'Patient/CSS/Doctor_Index.css' %}">
</head>
<body>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="{% url 'Doc_Pro' %}">my profile</a>
  <a href="{% url 'Doc_App' %}">Next</a>
  <a href="{% url 'Doc_Pre' %}">prescribe</a>

</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰</button>

</div>

<div class="Hello">
   <h1>Doctors index</h1>
</div>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
<button><a href="https://calendly.com/app/scheduled_events/user/me">Appointment</a> </button>
</body>
</html>